<div class="container-fluid">
<nav class="navbar bg-info navbar-expand-sm">
  <a class="nav-link text-white" routerLink="/objetivo">objetivo</a>
  <a class="nav-link text-white">hello word</a>
  <a class="nav-link text-white" routerLink="/media">Media</a>
  <a class="nav-link text-white" routerLink="/calculadora">Calculadora</a>
</nav>
</div>

<h1><tabela-imc></tabela-imc></h1>
<h1><cliente-salvar></cliente-salvar></h1>
<h1><calculadora-salvar></calculadora-salvar></h1>




<router-outlet></router-outlet>
