<div class="container">
    <!-- <ul>
        <li *ngFor="let nome of nomes"> {{nome}} </li>
    </ul> -->

    <form class="m-5">
        <div class="row">
            <div class=" form-group">
                <input class="form-control" type="text" [(ngModel)]="servico.estado.nome" name="nome">
            </div>
        </div>

        <div class="row">
            <div class=" form-group">
                <input class="form-control" type="text" [(ngModel)]="servico.estado.sigla" name="sigla">
            </div>
        </div>
        <div class="row">
            <div class=" form-group">
                <button class="btn btn-primary btn-md" type="button" name="button" (click)='adicionar()'>Adicionar</button>
            </div>
        </div>


    </form>

    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">ID</th> -->
                <th scope="col">NOME</th>
                <th scope="col">SIGLA</th>
                <th scope="col">EXCLUIR</th>
                <th scope="col">ALTERAR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estado of servico.listaEstados; let i = index">
               
                <!-- <td>  {{i}} </td>  -->
                <td> {{estado.nome}} </td> 
                <td> {{estado.sigla}} </td> 
                <td> <!--(click)="excluir(i)" e  (click)="alterar(i)"-->
                    <button name="button" class="btn btn-primary" (click)="excluir(i)" >
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
                <td>
                    <button name="button" class="btn btn-primary" (click)="alterar(i)" >
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>

       
    </table>
   
</div>