
<br><br><br>

<div class="container">

    <div class="row">
        <div class="col">
            <input type="number" [(ngModel)]="nota1" class="form-control" />
        </div>
        <div class="col">
            <input type="number" [(ngModel)]="nota2" class="form-control" />
        </div>
        <div class="col">
         <input type="number" [(ngModel)]="nota3" class="form-control" />
       </div>
         <div class="col">
             <input type="number" [(ngModel)]="nota4" class="form-control" />
        </div>
         <div class="col2">
            <button type="button" name="button" (click)="media()" class="btn btn-outline-primary"> Calcular média</button>
         </div>

    </div>
    <br><br><br>
    <h3>Calculadora de média</h3>
    <h3 class="text-center">Resultado: <b>{{totalMedia}}</b></h3>

</div>
